CATEGORIES:
{{#each model as |cat|}}
    <h3>{{cat.DE}}</h3>
	<h3>{{cat.EN}}</h3>
{{/each}}




<div class="page-header">
<h1>WARENKORB</h1>
</div>



	<table class="table table-striped">
	<thead>
	  <tr>
		<th>ARTIKEL</th>
		<th>PREIS</th>
		<th>SUMME</th>
		<th>ANZAHL</th>
		</tr>
	</thead>
	<tbody>
	
		<tr>
			<td>
				<a href="#">
					<img src="https://3.bp.blogspot.com/-W__wiaHUjwI/Vt3Grd8df0I/AAAAAAAAA78/7xqUNj8ujtY/s1600/image02.png" class="img-thumbnail" alt="A generic square placeholder">
				</a>
				<div><a href="#"><span class="warenkorb-text">3 x yoember / Click on a name to edit Author’s name</span></a></div>
			</td>
			<td class="text-nowrap"><span class="warenkorb-text">€ 125,-</span></td>
			<td class="text-nowrap"><span class="warenkorb-text">€ 425,-</span></td>
			<td class="valigner">
				<select id="" class="form-control">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
				<option>8</option>
				<option>9</option>
				<option>10</option>
				</select>
				<button type="button" class="btn btn-default my-btn-trash"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> löschen</button>
			</td>
		</tr>
									
		<tr>
			<th><span class="warenkorb-text">GESAMTSUMME</span></th>
			<th></th>
			<th colspan="2" class="text-nowrap"><span class="warenkorb-summe">€ 1.245,-</span></th>
		</tr>
		
		<tr>
			<th><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> JETZT BESTELLEN</button></th>
			<th></th>
			<th colspan="2"></th>
		</tr>

		
	</tbody>
  </table>
  
		  
		  
		  
		  



