
<div class="page-header">
<h1>PRODUKTE</h1>
</div>

<button type="button" class="btn btn-default btn-autosize btn-active">Alle Kategorien</button> 
<button type="button" class="btn btn-default btn-autosize">Wellness</button> 
<button type="button" class="btn btn-default btn-autosize">Kellergassen</button> 
<button type="button" class="btn btn-default btn-autosize">Sport</button> 
<button type="button" class="btn btn-default btn-autosize">Events</button> 
<button type="button" class="btn btn-default btn-autosize">Gastronomie</button> 
<button type="button" class="btn btn-default btn-autosize">Nightlife</button> 


<div class="produkte">




	  <div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title">asdfasdfasdf </h3></div>
		<div class="panel-body"><img src="https://3.bp.blogspot.com/-W__wiaHUjwI/Vt3Grd8df0I/AAAAAAAAA78/7xqUNj8ujtY/s1600/image02.png" class="img-thumbnail" alt="A generic square placeholder"></div>
	  </div>	  <div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title">asdfasdfasdf </h3></div>
		<div class="panel-body"><img src="https://3.bp.blogspot.com/-W__wiaHUjwI/Vt3Grd8df0I/AAAAAAAAA78/7xqUNj8ujtY/s1600/image02.png" class="img-thumbnail" alt="A generic square placeholder"></div>
	  </div>	  <div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title">asdfasdfasdf </h3></div>
		<div class="panel-body"><img src="https://3.bp.blogspot.com/-W__wiaHUjwI/Vt3Grd8df0I/AAAAAAAAA78/7xqUNj8ujtY/s1600/image02.png" class="img-thumbnail" alt="A generic square placeholder"></div>
	  </div>	  <div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title">asdfasdfasdf </h3></div>
		<div class="panel-body"><img src="https://3.bp.blogspot.com/-W__wiaHUjwI/Vt3Grd8df0I/AAAAAAAAA78/7xqUNj8ujtY/s1600/image02.png" class="img-thumbnail" alt="A generic square placeholder"></div>
	  </div>	  <div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title">asdfasdfasdf </h3></div>
		<div class="panel-body"><img src="https://3.bp.blogspot.com/-W__wiaHUjwI/Vt3Grd8df0I/AAAAAAAAA78/7xqUNj8ujtY/s1600/image02.png" class="img-thumbnail" alt="A generic square placeholder"></div>
	  </div>	  <div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title">asdfasdfasdf </h3></div>
		<div class="panel-body"><img src="https://3.bp.blogspot.com/-W__wiaHUjwI/Vt3Grd8df0I/AAAAAAAAA78/7xqUNj8ujtY/s1600/image02.png" class="img-thumbnail" alt="A generic square placeholder"></div>
	  </div>	  <div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title">asdfasdfasdf </h3></div>
		<div class="panel-body"><img src="https://3.bp.blogspot.com/-W__wiaHUjwI/Vt3Grd8df0I/AAAAAAAAA78/7xqUNj8ujtY/s1600/image02.png" class="img-thumbnail" alt="A generic square placeholder"></div>
	  </div>	  <div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title">asdfasdfasdf </h3></div>
		<div class="panel-body"><img src="https://3.bp.blogspot.com/-W__wiaHUjwI/Vt3Grd8df0I/AAAAAAAAA78/7xqUNj8ujtY/s1600/image02.png" class="img-thumbnail" alt="A generic square placeholder"></div>
	  </div>	  <div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title">asdfasdfasdf </h3></div>
		<div class="panel-body"><img src="https://3.bp.blogspot.com/-W__wiaHUjwI/Vt3Grd8df0I/AAAAAAAAA78/7xqUNj8ujtY/s1600/image02.png" class="img-thumbnail" alt="A generic square placeholder"></div>
	  </div>	  <div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title">asdfasdfasdf </h3></div>
		<div class="panel-body"><img src="https://3.bp.blogspot.com/-W__wiaHUjwI/Vt3Grd8df0I/AAAAAAAAA78/7xqUNj8ujtY/s1600/image02.png" class="img-thumbnail" alt="A generic square placeholder"></div>
	  </div>	  <div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title">asdfasdfasdf </h3></div>
		<div class="panel-body"><img src="https://3.bp.blogspot.com/-W__wiaHUjwI/Vt3Grd8df0I/AAAAAAAAA78/7xqUNj8ujtY/s1600/image02.png" class="img-thumbnail" alt="A generic square placeholder"></div>
	  </div>	  <div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title">asdfasdfasdf </h3></div>
		<div class="panel-body"><img src="https://3.bp.blogspot.com/-W__wiaHUjwI/Vt3Grd8df0I/AAAAAAAAA78/7xqUNj8ujtY/s1600/image02.png" class="img-thumbnail" alt="A generic square placeholder"></div>
	  </div>





</div>

