<div class="page-header">
<h1>BESTELLÜBERSICHT</h1>
</div>


	<div class="page-header"><h2>Artikelübersicht</h2></div>
	<table class="table table-striped">
	<thead>
	  <tr>
		<th>ARTIKEL</th>
		<th>EINZELPREIS</th>
		<th class="tdtextright">SUMME</th>
		</tr>
	</thead>
	<tbody>
	  <tr>
		<td><div class="warenkorb-artikel-text"><a href="#">3 x yoember / Click on a name to edit Author’s name</a></div></td>
		<td class="text-nowrap">€ 125,-</td>
		<td class="text-nowrap tdtextright">€ 425,-</td>
	  </tr>		
	  <tr>
		<td><div class="warenkorb-artikel-text">3 x yoember / Click on a name to edit Author’s name</div></td>
		<td class="text-nowrap">€ 125,-</td>
		<td class="text-nowrap tdtextright">€ 425,-</td>
	  </tr>		
	  <tr>
		<td><div class="warenkorb-artikel-text">3 x yoember / Click on a name to edit Author’s name</div></td>
		<td class="text-nowrap">€ 125,-</td>
		<td class="text-nowrap tdtextright">€ 425,-</td>
	  </tr>		
	  <tr>
		<td><div class="warenkorb-artikel-text">3 x yoember / Click on a name to edit Author’s name</div></td>
		<td class="text-nowrap">€ 125,-</td>
		<td class="text-nowrap tdtextright">€ 425,-</td>
	  </tr>			  
		<tr>
		<th>GESAMTSUMME</th>
		<th></th>
		<th class="text-nowrap tdtextright">€ 1.245,-</th>
		</tr>	
	</tbody>
  </table>

	<div class="page-header"><h2>Persönliche Daten</h2></div>
	<div>Name, Adresse & Co</div>

	<div class="page-header"><h2>Adressdaten</h2></div>
	<div>Name, Adresse & Co</div>			
	
	<div class="page-header"><h2>Versand</h2></div>
	<div>Name, Adresse & Co</div>			

	<div class="page-header"><h2>Bestellung abschliessen</h2></div>
	<div class="checkbox">
	<label><input type="checkbox" value=""> AGB</label>
	</div>
	
	<div class="checkbox">
	<label><input type="checkbox" value=""> Widerrufsbelehrung</label>
	</div>
	
	<div class="checkbox">
	<label><input type="checkbox" value=""> Neewsletter</label>
	</div>

	<button type="submit" class="btn btn-default">JETZT ZAHLUNGSPFLICHTIG BESTELLEN</button>

	


